.bottombar-theme {
  z-index: 3;
  bottom: 10px;
  position: fixed;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  &::after {
    content: "";
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5px;
  }
  .progress {
    margin: auto;
  }
  &.blue {
    background: #45c3fe;
  }
  &.green {
    background: #7cce5f;
  }
}
