<!-- <div *ngIf="content | json">{{ content | json }}</div> -->
<app-message></app-message>
<app-nav>
  <img [routerLink]="['/game/Dublin/']" routerLinkActive="router-link-active" leading src="assets/icons/arrow-l.svg" alt="">
  <h1 main>{{content.name}}</h1>
  <p trailing>&nbsp;</p>
</app-nav>
<div class="type" theme>
  <slate
    *ngFor="let item of content.content; let i = index"
    [data]="item"
    [@fadeInOnEnter]="{ value: '', params: { delay: i * 300 } }"
  ></slate>
  <app-bottombar>
    <app-progress progress></app-progress>
  </app-bottombar>
</div>