.slate {
  //   margin: 1em 0;
  width: 100vw;
  padding: 1em 0;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.1);
  transition: background 300ms cubic-bezier(1, 0.01, 0, 1.01);
  .slate-text {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    // margin: 1em 0;
    padding: 0.5em 0;
    background: rgba(0, 0, 0, 0);
    &.wrap {
      flex-direction: column;
      flex-flow: wrap;
    }
    .slate-text-container {
      width: 5em;
      height: 5em;
      text-align: center;
    }
    .slate-text-container.mb {
      margin-bottom: 0.7em;
    }
    h2 {
      font-size: 3em;
      background: white;
      padding: 0.2em;
      border-radius: 5px;
      margin: 0;
    //   box-shadow: -3px -3px rgba(0,0,0,0.4);
    }
  }
  .slate-input {
    form {
      width: 100%;
      text-align: center;
    }
    input {
      width: 85%;
      border: none;
      border-radius: 5px;
      padding: 1em;
      background: rgba(0, 0, 0, 0.2);
      text-align: center;
      margin-top: 2em;
      color: white;
      font-family: 'Poppins', sans-serif;
      font-size: 1em;
    }
    input:focus{
        border: 2px solid rgba(0,0,0, 0.3);
        // box-shadow: -4px 4px 0px rgba(0,0,0,0.3);
        padding: calc(1em - 2px);
    }
  }
}

.correct {
  background: green;
}
